@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    background-color: rgb(200, 255, 250);
    font-family: 'Roboto', sans-serif;
}


.game {
    padding: 50px 30px;
    border-radius: 10px;
    margin: 75px auto;
    width: 500px;
    background-color:rgb(250, 255, 255);
}

h1 {
    margin: 0px auto;
    text-align: center;
    background-color: transparent;
}

h2 {
    background-color: transparent;
    text-align: center;
}

.buttons-game {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    font-size: 40px;
    border: none;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(199, 169, 0);

}